html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: ghostwhite;

}
/* HEADER */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: white;
}
header .desktop {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
header .mobile {
  display: none;
  padding: 1rem;
}
header .mobile ul{
  display: flex;
  justify-content: space-around;
}
header .text{
  font-weight: bold;
}
header .logo {
  display: flex;
  align-items: center;
  flex: 1;
}
header ul {
  display: flex;
}
header li {
  padding-left: 1rem;
}
.grey {
  color: grey
}

@media only screen and (max-width: 600px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header li {
  padding: 0;
  }

}
/* MAIN */
.main-content {
  position: relative;
  top: 4.125rem;
  width: 100%;
}
#introduction-section {
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#introduction-section .container {
  flex-basis: 60%;
  flex-grow: 1;
}

img {
  max-width: 100%;
}
.introduction-content{
    flex-grow: 1;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.introduction-content h1{
  color: grey;
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

.introduction-content h2{
  color: grey;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.25rem 0;
}

.introduction-content .box{
    text-align: center;
    background-color: grey;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

#information-section {
  background-color: white;
  display: flex;
}

#information-section .information-content{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  
}


.information-content h1{
  color: grey;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;  
}
.information-content h2{
  color: grey;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.5rem 0; 
}

.information-content h3{
  color: gray;
  margin-top: 2.5rem;
}

.information-category {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.information-category .item{
  display: flex;
  border-left: 0.2rem solid ghostwhite;
  border-bottom: 0.2rem solid ghostwhite;
  padding: 1rem 1rem;
}

.item .container{
  flex-basis: 35%;
}
.item .content{
  flex-basis: 65%;
}
.item .box-content{
  margin: 1rem;
}

.item .box-content h1{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.item .box-content h2{
  color: grey;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.blue{
  color: cornflowerblue;
}

.ghostwhite{
  background-color: ghostwhite;
}

@media only screen and (max-width: 600px) {
  #introduction-section .container {
  width: 100%;
  }
  .introduction-content{
    flex-grow: 1;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
  .introduction-content h1{
  color: grey;
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.introduction-content h2{
  color: grey;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

.introduction-content .box{
    text-align: center;
    background-color: grey;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
#information-section .information-content{
  display: none;
}
#information-section .information-category {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.information-category .item{
  display: block;
  border-left: 0.2rem solid ghostwhite;
  border-bottom: 0.2rem solid ghostwhite;
  padding: 1rem 1rem;
  text-align: center;
}
}
/* Courses section */
#courses-section{
  padding: 1rem 2rem;
  text-align: center;
}
#courses-section .content {
  margin: 1rem;
}
#courses-section .content h1{
  color: grey;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.courses-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#courses-section .item {
   flex-basis: 25rem;
   background-color: white; 
   margin: 1rem;
}

.courses-category .box-content{
  padding: 1rem;
  text-align: left;
}

/* Thesis section */
#thesis-section {
  padding: 2rem 0;
  background-color: white; 
}
#thesis-section .thesis-container{
  padding: 2rem 0;
  display: flex;
}
#thesis-section .header{
  text-align: center;
  color: grey;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.thesis-content {
  padding: 0 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}
#thesis-section .thesis-content .content{
  text-align: left;
}
.thesis-content h1{
  color: grey;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.thesis-content h2{
  color: grey;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem; 
}
.thesis-category .item{
  display: flex;
  border-left: 0.2rem solid ghostwhite;
  border-bottom: 0.2rem solid ghostwhite;
  padding: 1rem 1rem;
}

@media only screen and (max-width: 600px) {
  .thesis-content{
    width: 100%;
  }
  .thesis-content .content{
    display:none;
  }
  .thesis-category{
    display:none;
  }
}
footer{
  position: relative;
  top: 4.125rem;
  width: 100%;
}
footer .content{
  color:grey;
  padding: 1rem 1.5rem;
  display: flex;
}

.copyright{
  flex-grow: 1;
}
footer ul {
  display: flex;
}
footer li {
  font-size: 1rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
  footer ul{
    display: none;
  }
}